.box_left_confirmed
{
    background-color: #404040;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
	box-sizing: border-box;
    color: rgb(240, 162, 89);
	height: 120px;
	right: 0;
    padding-top: 34px;
	position: absolute;
    overflow-y: auto;
    text-align: center;
    text-transform: uppercase;
	top: 60px;
	width: 128px;
}

.box_left_death
{
    background-color: #404040;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
	box-sizing: border-box;
    color: rgb(245, 17, 17);
	height: 120px;
	right: 128px;
    padding-top: 34px;
	position: absolute;
    overflow-y: auto;
    text-align: center;
    text-transform: uppercase;
	top: 60px;
	width: 128px;
}

.box_left_active
{
    background-color: #404040;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
	box-sizing: border-box;
    color: rgb(240, 162, 89);
	height: 120px;
	right: 0;
    padding-top: 34px;
	position: absolute;
    overflow-y: auto;
    text-align: center;
    text-transform: uppercase;
	top: 180px;
	width: 128px;
}

.box_left_recovered
{
    background-color: #404040;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
	box-sizing: border-box;
    color: rgb(240, 162, 89);
	height: 120px;
	right: 128px;
    padding-top: 34px;
	position: absolute;
    overflow-y: auto;
    text-align: center;
    text-transform: uppercase;
	top: 180px;
	width: 128px;
}

.navbar{
    background-color: #404040;
    background-image: url('../images/biohazard.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 70% ;
    border-bottom: 1px solid #333;
    border-top: 1px solid #777;
    box-sizing: border-box;
    color: #aaa;
    height: 60px;
    line-height: 60px;
    padding-left: 16px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    width: auto;
}

.about{
    color: #999;
    cursor: pointer;
    height: 38px;
    line-height: 38px;
    left: 100%;
    margin-left: -70px;
    margin-top: -19px;
    position: absolute;
    text-align: right;
    text-transform: uppercase;
    top: 50%;
    width: 38px;
}

